- if false # leave disabled when no A/B experiments are running.
  :javascript
    (function() {
      var scriptTag = document.createElement('script');
      scriptTag.type = 'text/javascript';
      scriptTag.async = true;
      scriptTag.src = '/js/400912536.js';
      var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(scriptTag, s);
    })();
    function optimizelyTimeout() {
      window.optimizely = window.optimizely|| [];
      if (!window.optimizely.data) {
        window.optimizely.push("timeout");
      }
    }
    setTimeout(optimizelyTimeout, 1000);
  - response.add_header 'Link', "</js/400912536.js>; rel=preload; as=script"

:javascript
  var is_ie8 = false;
/[if IE 8]
  :javascript
    var is_ie8 = true;

-#- js_asset = minifiable_asset_path("js/code.org/views/theme_common_head_after.js")
-#%script{src: js_asset, defer: true}
-#- response.add_header 'Link', "<#{CDO.default_scheme}#{js_asset}>; rel=preload; as=script"

/[if lt IE 9]
  %script{:src=>'/js/html5shiv.js'}
  %script{src:'/js/respond.min.js'}
