- @header['social'].each_pair do |property, content|
  %meta{property:property, content:content}

%title= page_title_with_tagline

-# Inline critical font into page (~5k).
- require 'base64'
- require 'json'
- font_url = '/fonts/gotham4r-critical.woff2'
- font_data = File.read(content_dir('code.org', 'public' + font_url))
- font_src = Base64.strict_encode64(font_data)
-#:css
  @font-face {
    font-family: 'Gotham';
    src: url(data:font/woff2;base64,#{font_src}) format('woff2');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0030-0039,U+0041-005A,U+0061-007A; /* 0-9,A-Z,a-z */
  }
:javascript
  // Early-load critical font-face.
  var criticalFont = new FontFace(
    'Gotham',
    new Uint8Array(#{font_data.bytes.to_json}),
    {
      style: 'normal',
      weight: '400',
      unicodeRange: 'U+0030-0039,U+0041-005A,U+0061-007A'
    }
  );
  criticalFont.load();
  document.fonts.add(criticalFont);

  // Lazy-load font-faces for all weights and styles.
  var fonts = [
    new FontFace('Gotham', 'url(/fonts/gotham4r.woff2)', {
      style: 'normal',
      weight: '400'
    }),
    new FontFace('Gotham', 'url(/fonts/gotham4i.woff2)', {
      style: 'italic',
      weight: '400'
    }),
    new FontFace('Gotham', 'url(/fonts/gotham5r.woff2)', {
      style: 'normal',
      weight: '500'
    }),
    new FontFace('Gotham', 'url(/fonts/gotham5i.woff2)', {
      style: 'italic',
      weight: '500'
    }),
    new FontFace('Gotham', 'url(/fonts/gotham7r.woff2)', {
      style: 'normal',
      weight: '700'
    }),
    new FontFace('Gotham', 'url(/fonts/gotham7i.woff2)', {
      style: 'italic',
      weight: '700'
    }),
  ];
  fonts.forEach(function(font) {
    document.fonts.add(font);
  });
  // Implement 'optional' font-display:
  // if font-faces haven't loaded early, remove them from document.fonts.
  function pruneFonts() {
    for (var fontFace of document.fonts.values()) {
      if (fontFace.status !== 'loaded') {
        document.fonts.delete(fontFace);
      }
    }
  }
  window.setTimeout(pruneFonts, 100);

%link{rel:'shortcut icon', href:'/images/favicon.ico'}
%link{rel:'apple-touch-icon', href:'/images/apple-touch-icon-precomposed.png'}

%link{rel:'stylesheet', type:'text/css', href:'/style.css'}

%link{rel:'stylesheet', type:'text/css', href:'/shared/css/user-menu.css'}
