- @header['social'].each_pair do |property, content|
  %meta{property:property, content:content}

%title= page_title_with_tagline

-# Inline critical font into page (~5k).
- require 'base64'
- require 'json'
- font_url = '/fonts/gotham4r-critical.woff2'
- font_data = File.read(content_dir('code.org', 'public' + font_url))
- font_src = Base64.strict_encode64(font_data)
-#:css
  @font-face {
    font-family: 'Gotham';
    src: url(data:font/woff2;base64,#{font_src}) format('woff2');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0030-0039,U+0041-005A,U+0061-007A; /* 0-9,A-Z,a-z */
  }
:javascript
  var supportsFontLoading = !!document.fonts;

  // Early-load critical font-face.
  if (supportsFontLoading) {
    var criticalFont = new FontFace(
      'Gotham',
      new Uint8Array(#{font_data.bytes.to_json}),
      {
        style: 'normal',
        weight: '400',
        unicodeRange: 'U+0030-0039,U+0041-005A,U+0061-007A'
      }
    );
    criticalFont.load();
    document.fonts.add(criticalFont);
  } else {
    // TODO fallback inject CSS @font-face with base64 URI
  }

  // Lazy-load font-faces for all weights and styles.
  var fontPath = '/fonts/gotham';
  var fonts = ['4r', '5r', '7r', '4i', '5i', '7i'].map(function(path) {
    var fontSrc = fontPath + path;
    return {
      src: 'url(' + fontSrc + ".woff2) format('woff2'), url(" + fontSrc + ".woff) format('woff')",
      weight: path[0] * 100,
      style: path[1] === 'r' ? 'normal' : 'italic'
    };
  });
  fonts.forEach(function(font) {
    if (supportsFontLoading) {
      document.fonts.add(new FontFace("Gotham", font.src, {
        style: font.style,
        weight: font.weight
      }));
    } else {
      // TODO fallback inject CSS @font-face
    }
  });

  // Implement 'optional' font-display:
  // if font-faces haven't loaded early, remove them from document.fonts.
  if (supportsFontLoading) {
    window.setTimeout(function () {
      for (var fontFace of document.fonts.values()) {
        if (fontFace.status !== 'loaded') {
          document.fonts.delete(fontFace);
        }
      }
    }, 100);
  }

%link{rel:'shortcut icon', href:'/images/favicon.ico'}
%link{rel:'apple-touch-icon', href:'/images/apple-touch-icon-precomposed.png'}

%link{rel:'stylesheet', type:'text/css', href:'/style.css'}

%link{rel:'stylesheet', type:'text/css', href:'/shared/css/user-menu.css'}
