- @header['social'].each_pair do |property, content|
  %meta{property:property, content:content}

%title= page_title_with_tagline

%link{rel:'shortcut icon', href:'/images/favicon.ico'}
%link{rel:'apple-touch-icon', href:'/images/apple-touch-icon-precomposed.png'}

%link{rel:'stylesheet', type:'text/css', href:'/style.css'}
- response.add_header 'Link', "</style.css>; rel=preload; as=style"

%link{rel:'stylesheet', type:'text/css', href:'/shared/css/user-menu.css'}
