- @header['social'].each_pair do |property, content|
  %meta{property:property, content:content}

%title= page_title_with_tagline

%link{rel:'shortcut icon', href:'/images/favicon.ico'}
%link{rel:'apple-touch-icon', href:'/images/apple-touch-icon-precomposed.png'}

%link{rel:'stylesheet', type:'text/css', href:'/style.css'}

%link{rel:'stylesheet', type:'text/css', href:'/shared/css/user-menu.css'}

:css
  @font-face {
    font-family: 'Gotham 4r';
    src: url('/fonts/gotham4r.woff2');
    font-weight: normal;
    font-style: normal;
  }
