-#:javascript
  // Lazy-load full FontFace set.
  // Add to document only when fully-loaded (no flash of invisible text).
  var fonts = [
    new FontFace('Gotham', 'url(/fonts/gotham4r.woff2)', {
      style: 'normal',
      weight: '400'
    }),
    new FontFace('Gotham', 'url(/fonts/gotham4i.woff2)', {
      style: 'italic',
      weight: '400'
    }),
    new FontFace('Gotham', 'url(/fonts/gotham5r.woff2)', {
      style: 'normal',
      weight: '500'
    }),
    new FontFace('Gotham', 'url(/fonts/gotham5i.woff2)', {
      style: 'italic',
      weight: '500'
    }),
    new FontFace('Gotham', 'url(/fonts/gotham7r.woff2)', {
      style: 'normal',
      weight: '700'
    }),
    new FontFace('Gotham', 'url(/fonts/gotham7i.woff2)', {
      style: 'italic',
      weight: '700'
    }),
  ];
  document.addEventListener('DOMContentLoaded', function() {
    fonts.forEach(function(font) {
      font.load();
      font.loaded.then(function(font) {
        document.fonts.add(font);
      });
    });
  });
%script{src:'/js/jquery.min.js', defer: true}

- js_asset = minifiable_asset_path("js/code.org/views/theme_common_head_after.js")
%script{src: js_asset, defer: true}

=view :theme_fastclick
=view :display_language_lightbox
=view :theme_google_analytics

- if header['chart']
  %script{src:'https://www.google.com/jsapi'}

- if @header['video_player']
  :javascript
    document.addEventListener('DOMContentLoaded', function() {
      loadVideos(window.location.search.indexOf("force_youtube_fallback") !== -1)
    });
