- @header['social'].each_pair do |property, content|
  %meta{property:property, content:content}

%title= page_title_with_tagline

-# Inline critical font into page (~5k).
- require 'base64'
- font_src = Base64.strict_encode64(File.read(content_dir('code.org', 'public', 'fonts/gotham4r-critical.woff2')))
:javascript
  // Load critical FontFace.
  var font = new FontFace(
    'Gotham Critical',
    'url(data:font/woff2;base64,#{font_src})',
    {
      style: 'normal',
      weight: '400',
      unicodeRange: 'U+0030-0039,U+0041-005A,U+0061-007A' /* 0-9,A-Z,a-z */
    }
  );
  font.load();
  font.loaded.then(function(font) {
    document.fonts.add(font);
  });

%link{rel:'shortcut icon', href:'/images/favicon.ico'}
%link{rel:'apple-touch-icon', href:'/images/apple-touch-icon-precomposed.png'}

%link{rel:'stylesheet', type:'text/css', href:'/style.css'}

%link{rel:'stylesheet', type:'text/css', href:'/shared/css/user-menu.css'}
