- video = local_assigns[:video]
- if current_user.try(:admin?) && !Rails.env.production?
  - require 'httparty'
  - response = HTTParty.head("https://videos.code.org/youtube/#{video.key}.jpg").response
  - unless response.is_a? ::Net::HTTPSuccess
    - require 'cdo/video/youtube'
    - Youtube.process(video.key)
%html{:dir => locale_dir}
  %script{src: '/shared/js/video/build/video.js'}
  :css
    #video-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    #video {
      border: 0;
    }

    body {
      background-color: #000;
      color: #fff;
      height: 100%;
      width: 100%;
      overflow: hidden;
      position: absolute;
      padding: 0;
      margin: 0;
    }

  #video-container
    %video{id: 'video', width: '100%', height: '100%', autoplay: params.has_key?(:autoplay), class: 'video-js vjs-default-skin vjs-big-play-centered', controls: true, preload: 'metadata', poster: video.thumbnail_path}
      - unless params.has_key?(:youtube_only)
        %source{src: video.download, type: 'video/mp4'}
      - unless params.has_key?(:fallback_only)
        %source{src: video.youtube_url, type: 'video/youtube'}
